{{ template "top.html" . }}
{{ template "head.html" . }}
<body>
  <div class="container">
      <div class="columns">
        <div class="column col-2">
          {{ template "nav.html" . }}
        </div>
        <div class="column col-10">
            {{with .}}
            <div class="panel resourcePanel">
              <div class="panel-header">
                <h2 class="resourceHeader">{{.Title}}</h2>
                <button class="btn actionBtn" onclick="deleteBookDialog({{.ID}})">Delete</button>
              </div>
              <div class="panel-body">
                <p>
                  Index: {{.Index}}
                  <br> Author: {{.Author}}
                  <br> Title: {{.Title}}
                  <br> Theme: {{.Theme}}
                </p>
              </div>
            </div>
            {{end}}
          </div>
    </div>
{{ template "script.html" . }}
{{ template "bottom.html" . }}