<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R&J Library</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon">
    <style>
    .container {
      padding: 20px;
    }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="columns">
        <button class="btn" id="createBook">Create Book</button>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
             <th>Index</th>
              <th>Author</th>
              <th>Title</th>
              <th>Theme</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {{range .}}
            <tr>
              <td>{{.Index}}</td>
              <td>{{.Author}}</td>
              <td>{{.Title}}</td>
              <td>{{.Theme}}</td>
              <td><button class="btn" onclick="updateBookDialog({{.ID}})">Update</button></td>
              <td><button class="btn" onclick="deleteBookDialog({{.ID}})">Delete</button></td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal modal-sm" id="createBookModal">
        <a class="modal-overlay" aria-label="Close" id="closeCreateModal"></a>
        <div class="modal-container">
          <div class="modal-header">
            <div class="modal-title h5">Create Book</div>
          </div>
          <div class="modal-body">
            <div class="content">
              <form action="/books" method="post">
                <div class="form-group">
                  <label class="form-label" for="index">Index</label>
                  <input id="createBookIndex" class="form-input" type="text" name="Index">
                  <label class="form-label" for="author">Author</label>
                  <input id="createBookAuthor" class="form-input" type="text" name="Author">
                  <label class="form-label" for="title">Title</label>
                  <input id="createBookTitle" class="form-input" type="text" name="Title">
                  <label class="form-label" for="theme">Theme</label>
                  <input id="createBookTheme" class="form-input" type="text" name="Theme"><br>
                  <input id="createBookSubmit" class="btn btn-block" type="submit" value="Create Book">
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
    <div class="modal modal-sm" id="updateBookModal">
        <a class="modal-overlay" aria-label="Close" id="closeUpdateModal"></a>
        <div class="modal-container">
          <div class="modal-header">
            <div class="modal-title h5">Update Book</div>
          </div>
          <form>
            <div class="modal-body">
              <div class="content">
                  <div class="form-group">
                    <input id="updateBookID" class="form-input" type="hidden" name="ID">
                    <label class="form-label" for="index">Index</label>
                    <input id="updateBookIndex" class="form-input" type="text" name="Index">
                    <label class="form-label" for="author">Author</label>
                    <input id="updateBookAuthor" class="form-input" type="text" name="Author">
                    <label class="form-label" for="title">Title</label>
                    <input id="updateBookTitle" class="form-input" type="text" name="Title">
                    <label class="form-label" for="theme">Theme</label>
                    <input id="updateBookTheme" class="form-input" type="text" name="Theme"><br>
                  </div>
              </div>
            </div>
            <div class="modal-footer">
              <input id="updateBookSubmit" class="btn btn-block" type="submit" value="Update Book">
            </div>
          </form>
        </div>
    </div>
    <div class="modal modal-sm" id="deleteBookModal">
        <a class="modal-overlay" aria-label="Close" id="closeDeleteModal"></a>
        <div class="modal-container">
          <div class="modal-header">
            <div class="modal-title h5">Delete Book</div>
          </div>
          <form>
            <div class="modal-body">
              <div class="content">
                <p>Are you sure you want to delete this book? It's a great one!</p>
                <div class="form-group">
                  <input id="deleteBookID" class="form-input" type="hidden" name="id">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <input id="deleteBookSubmit" class="btn btn-block" type="submit" value="Delete Book">
            </div>
          </form>
        </div>
    </div>
    <script>
      function calculateApiUrl () {
        if (window.location.hostname === 'localhost') {
          return 'http://localhost:8080'
        } else {
          return 'https://library.rogerkirkness.com'
        }
      }
      function updateBookDialog(ID) {
        document.getElementById('updateBookModal').classList.add('active')
        fetch(calculateApiUrl() + '/books/' + ID, {
          method: 'GET', headers: new Headers({'content-type': 'application/json'})
        })
        .then((res) => { return res.json() })
        .then((body) => {
          document.getElementById('updateBookID').value = body.ID
          document.getElementById('updateBookIndex').value = body.Index
          document.getElementById('updateBookAuthor').value = body.Author
          document.getElementById('updateBookTitle').value = body.Title
          document.getElementById('updateBookTheme').value = body.Theme
        })
        .catch((error) => { console.error(error) })
      }
      function deleteBookDialog(ID) {
        document.getElementById('deleteBookModal').classList.add('active')
        document.getElementById('deleteBookID').value = ID
      }
      document.getElementById('updateBookSubmit').onclick = () => {
        var ID = document.getElementById('updateBookID').value
        var updatedBook = {
          Index: document.getElementById('updateBookIndex').value,
          Author: document.getElementById('updateBookAuthor').value,
          Title: document.getElementById('updateBookTitle').value,
          Theme: document.getElementById('updateBookTheme').value
        }
        var request = new XMLHttpRequest()
        request.open('PUT', calculateApiUrl() + '/books/' + ID, true)
        request.onreadystatechange = () => {
          console.log('Updated: ' + ID)
          window.location = calculateApiUrl() + '/books'
        }
        request.setRequestHeader('Content-Type', 'application/json')
        request.send(JSON.stringify(updatedBook))
      }
      document.getElementById('deleteBookSubmit').onclick = () => {
        var ID = document.getElementById('deleteBookID').value
        var request = new XMLHttpRequest()
        request.open('DELETE', calculateApiUrl() + '/books/' + ID, true)
        request.onreadystatechange = () => {
          console.log('Deleted: ' + ID)
        }
        request.setRequestHeader('Content-Type', 'application/json')
        request.send()
      }
      document.getElementById('closeCreateModal').onclick = () => {
        document.getElementById('createBookModal').classList.remove('active')
      }
      document.getElementById('closeUpdateModal').onclick = () => {
        document.getElementById('updateBookModal').classList.remove('active')
      }
      document.getElementById('closeDeleteModal').onclick = () => {
        document.getElementById('deleteBookModal').classList.remove('active')
      }
      document.getElementById('createBook').onclick = () => {
        document.getElementById('createBookModal').classList.add('active')
      }
    </script>
  </body>
</html>