<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{with .Title}}{{.}}{{end}} | Library</title>
  </head>
  <body>
      <table>
        <tr>
          <td>Index</td>
          <td>Author</td>
          <td>Title</td>
          <td>Theme</td>
        </tr>
        <tr>
          {{with .Index}}<td>{{.}}</td>{{end}}
          {{with .Author}}<td>{{.}}</td>{{end}}
          {{with .Title}}<td>{{.}}</td>{{end}}
          {{with .Theme}}<td>{{.}}</td>{{end}}
        </tr>
      </table>
  </body>
</html>