</div>
</div>
</div>
<script>
  // Styles the currently active page nav link.
  window.onload = () => {
    var path = window.location.pathname
    path = path.split('/')
    document.getElementById(path[1]).classList.add('nav-active')
  }

  // Calculates and returns the current API url.
  function calculateApiUrl() {
    if (window.location.hostname === 'localhost') {
      return 'http://localhost:8080'
    } else {
      return 'https://library.rogerkirkness.com'
    }
  }

  // Creates a pop up warning the user before deleting a book.
  function deleteBookDialog(ID) {
    document.getElementById('deleteBookModal').classList.add('active')
    document.getElementById('deleteBookID').value = ID
  }

  // Sends the updated book to the API and redirects home.
  if (document.getElementById('updateBookSubmit')) {
    document.getElementById('updateBookSubmit').onclick = () => {
      var ID = document.getElementById('updateBookID').value
      var updatedBook = {
        Index: document.getElementById('updateBookIndex').value,
        Author: document.getElementById('updateBookAuthor').value,
        Title: document.getElementById('updateBookTitle').value,
        Theme: document.getElementById('updateBookTheme').value
      }
      var request = new XMLHttpRequest()
      request.open('PUT', calculateApiUrl() + '/books/' + ID, true)
      request.onreadystatechange = () => {
        console.log('Updated: ' + ID)
        window.location = calculateApiUrl() + '/books'
      }
      request.setRequestHeader('Content-Type', 'application/json')
      request.send(JSON.stringify(updatedBook))
    }
  }

  // Sends the deleted book to the API and redirects home.
  if (document.getElementById('deleteBookSubmit')) {
    document.getElementById('deleteBookSubmit').onclick = () => {
      var ID = document.getElementById('deleteBookID').value
      var request = new XMLHttpRequest()
      request.open('DELETE', calculateApiUrl() + '/books/' + ID, true)
      request.onreadystatechange = () => {
        console.log('Deleted: ' + ID)
        window.location = calculateApiUrl() + '/books'
      }
      request.setRequestHeader('Content-Type', 'application/json')
      request.send()
    }
  }


  // Closes any active modals on the page.
  if (document.getElementById('closeModal')) {
    document.getElementById('closeModal').onclick = () => {
      var modals = document.getElementsByClassName('modal')
      for (var i = 0; i < modals.length; i++) {
        modals[i].classList.remove('active')
      }
    }
  }

  // Opens the modal for creating a book.
  document.getElementById('create').onclick = () => {
    document.getElementById('createModal').classList.add('active')
  }
</script>
</body>

</html>