{{ define "style" }}
<style>
  html {
    background: #f2f2f2;
  }

  .container {
    padding: 20px;
    background: #f2f2f2;
  }

  .nav {
    padding-top: 50px;
  }

  .nav-item {
    margin-left: 10px;
  }

  .nav-active {
    background: white;
    border-radius: 0.25rem;
    padding: 5px;
    box-shadow: 0 7px 14px 0 rgba(50, 50, 93, .1), 0 3px 6px 0 rgba(0, 0, 0, .07);
  }

  .btn {
    box-shadow: 0 7px 14px 0 rgba(50, 50, 93, .1), 0 3px 6px 0 rgba(0, 0, 0, .07);
  }

  .table {
    background-color: white;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 7px 14px 0 rgba(50, 50, 93, .1), 0 3px 6px 0 rgba(0, 0, 0, .07);
    border-radius: 0.25rem;
  }

  .actionBtn {
    float: right;
  }

  .resourceHeader {
    display: inline-block;
  }

  .resourcePanel {
    background: #FFF;
  }
</style>
{{ end }}